<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Panther Hotel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome to the Panther Hotel</h1>
    <div class="button-container">
        <button onclick="window.location.href='book.html'">Book a Room</button>
        <button onclick="window.location.href='manager.html'">Manager</button>
    </div>
</body>

</html>
