<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylelist.css') }}">
</head>

<body>
    <h1>Reservation List</h1>
    <div class="reservation-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Check-in Date</th>
                    <th>Check-out Date</th>
                    <th>Room Type</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation['name'] }}</td>
                    <td>{{ reservation['checkIn'] }}</td>
                    <td>{{ reservation['checkOut'] }}</td>
                    <td>{{ reservation['roomType'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('home') }}" class="back-home">Back to Home</a>
</body>

</html>
